.contenidor-header{
    position: sticky;
    top: 0px;
    padding: 10px 10px;
    width: 100%;
    background-color: #E03C31;
}

.logoitb{
    display: block;
    margin: auto;
    top: 0;
    max-height: fit-content;
    overflow: hidden;
    background-color: #E03C31;
}

.logoitb img{
    width: 30%;
}

#menu{
    display: flex;
    gap: 15px;
    text-align: center;
}

#menu ul{
    text-align: center;
    padding-left: 100px;
}

#menu li{
    display: inline-block;
}

#menu a{
    color: white;
    border: 3px solid black;
    padding: 5px 5px;
    line-height: 50px;
    text-decoration: none;
    margin-left: 160px;
}

#menu li a:hover{
    background-color: rgb(224, 92, 80);

}

body {
    font-family: Arial, sans-serif;
    background-color:#ec867ff5;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: auto;
    background-color:antiquewhite;
    padding: 20px;
    border-radius: 8px;
    margin-top: 50px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    color: #555;
}

#name{
    padding: 10px;
    margin-top: 5px;
    border: 1px solid white;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}
#email{
    padding: 10px;
    margin-top: 5px;
    border: 1px solid white;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

#age{
    padding: 10px;
    margin-top: 5px;
    border: 1px solid white;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

#gender{
    padding: 10px;
    margin-top: 5px;
    border: 1px solid white;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: green;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: rgb(40, 212, 89);
}

.contenidor-footer{
    display: flex;
    background-color: #ec867ff5;
    margin-top: 20px;
    border-top: 5px solid black;
}

.xarxes{
    display: flex;
    margin-right: 600px;
    gap: 30px;
}


.direccio{
    display: flex;
    margin-left: 600px;
    gap: 30px;

}